<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.axelby.podax" android:versionCode="4" android:versionName="0.93 beta">

	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true"
	/>

	<application android:icon="@drawable/icon" android:name=".PodaxApp"
		android:label="@string/app_name">

		<activity android:name=".MainActivity"
				  android:label="@string/app_name"
				  android:theme="@android:style/Theme.Black.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<meta-data android:name="android.app.default_searchable" android:value=".SearchActivity" />
		</activity>

	    <activity android:name=".SearchActivity"
				  android:label="@string/search"
				  android:theme="@android:style/Theme.Black.NoTitleBar"
	    		  android:launchMode="singleTop">
	        <intent-filter>
	            <action android:name="android.intent.action.SEARCH" />
	            <category android:name="android.intent.category.DEFAULT" />
	        </intent-filter>
	        <meta-data android:name="android.app.searchable"
	                   android:resource="@xml/searchable" />
	    </activity>

		<activity android:name=".SubscriptionListActivity"
		    	  android:label="@string/subscriptions"
		    	  android:theme="@android:style/Theme.Black.NoTitleBar">
			<intent-filter>
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			    <data android:scheme="http" />
			    <data android:host="*" />
			    <data android:pathPattern=".*\\.xml" />
			    <data android:pathPattern=".*\\.rss" />
			</intent-filter>

			<intent-filter>
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			    <data android:scheme="http" />
			    <data android:host="feeds.feedburner.com" />
			    <data android:host="feedproxy.google.com" />
			    <data android:host="feeds2.feedburner.com" />
			    <data android:host="feedsproxy.google.com" />
			</intent-filter>

			<intent-filter>
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			    <data android:scheme="http" />
			    <data android:mimeType="text/xml" />
			    <data android:mimeType="application/rss+xml" />
			    <data android:mimeType="application/atom+xml" />
			    <data android:mimeType="application/xml" />
			</intent-filter>
		</activity>

		<activity android:name=".PodcastListActivity"
		    	  android:theme="@android:style/Theme.Black.NoTitleBar" />
		<activity android:name=".QueueActivity"
		    	  android:label="@string/queue"
		    	  android:theme="@android:style/Theme.Black.NoTitleBar" />
		<activity android:name=".PodcastDetailActivity"
				  android:theme="@android:style/Theme.Black.NoTitleBar" />
		<activity android:name=".ActiveDownloadListActivity"
				  android:label="@string/active_downloads"
				  android:theme="@android:style/Theme.Black.NoTitleBar" />
		<activity android:name=".Preferences"
				  android:label="@string/preferences" />
		<activity android:name=".ImportSubscriptionActivity"
				  android:label="@string/import_subscriptions"
				  android:theme="@android:style/Theme.Black.NoTitleBar" />
		
		<service android:name=".UpdateService" />
		<service android:name=".PlayerService" />

		<receiver android:name=".SmallWidgetProvider" android:label="Podax 4x1">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:resource="@xml/smallwidget"
				android:name="android.appwidget.provider" />
		</receiver>

		<receiver android:name=".LargeWidgetProvider" android:label="Podax 4x2">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:resource="@xml/largewidget"
				android:name="android.appwidget.provider" />
		</receiver>
		
		<provider android:name=".SearchSuggestionProvider"
	              android:authorities="com.axelby.podax.SearchSuggestionProvider" />
	</application>

	<uses-sdk android:minSdkVersion="7" />

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.USE_CREDENTIALS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest> 